<div class="container mt-4">
    <div class="row">
        <div class="col-lg-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-9">
            <form (ngSubmit)="submitComentario()" #comentarioForm="ngForm" style="padding: 20px; color: #343a40;">
                <div class="form-group">
                    <label for="comentario">
                        <h5>Comentar:</h5>
                    </label>
                    <textarea class="form-control" id="comentario" name="comentario" required
                        [(ngModel)]="comentarioDTO.comentario" #comentario="ngModel" maxlength="255" placeholder="Límite de 255 caracteres..."></textarea>
                </div>
                <button type="submit" class="btn btn-warning btn-md" [disabled]="comentarioForm.invalid">Comentar</button>
            </form>
        </div>
    </div>
</div>
