<div class="text-center card container col-md-3">
  <div class="mt-5 mb-5">
    <img class="mb-4" src="../../../assets/images/login.svg" alt="login" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Inicia sesión</h1>
    <form (ngSubmit)="login()">
      <div class="form-floating" style="margin-bottom: 2vh;">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="loginDto.email" name="email" required>
        <label for="email">Email</label>
      </div>
      <div class="form-floating mt-1" style="margin-bottom: 3vh;">
        <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="loginDto.password" name="password" required #passwordInput>
        <label for="password">Contraseña</label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="showPassword" (change)="mostrarPassword()">
        <label class="form-check-label" for="showPassword">Mostrar contraseña</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" style="margin-top: 5vh;" type="submit">Iniciar sesión</button>
      <div class="or-container">
        <div class="line-separator"></div>
        <div class="or-label">o</div>
        <div class="line-separator"></div>
      </div>
    </form>
  </div>
</div>
