<!-- main.component.html -->
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-9">

            <div *ngIf="comentarios && comentarios.length>0">
                <div style="padding: 5px;margin-top: 18px;" class="card mb-3">
                    <div class="card-body">
                        <!--  título de la publicación -->
                        <h2 class="card-title"><img src="../../../assets/images/perfilredondo.png" width="70px" alt="perfil" style="margin-right: 2vh;">{{ titulo }}</h2>
                        <p style="color: rgb(101, 110, 122);">Publicado por: <a style="text-decoration: none;" [routerLink]="['/perfil',nickname]">{{ nickname }}</a> - Fecha de creación: {{
                            fecha_creacion |
                            date:'medium' }} | {{categoria}}</p>
                        <p class="card-text">{{ contenido }}</p>

                        <div>
                            <button *ngIf="isLoggedIn()" [routerLink]="['/publicacion', idPublicacion, 'comentar']" class="btn btn-warning btn-sm" style="margin-right: 20px;margin-top: 15px;">Comentar</button>
                            <h4 style="margin-top: 4vh;">Comentarios de esta publicación</h4>
                        </div>
                        
                    </div>

                    <ul class="list-group list-group-flush">
                        <!--   elementos de la lista de comentarios -->
                        <li class="list-group-item"
                            *ngFor="let comentario of comentarios | paginate:{itemsPerPage:4,currentPage:page}">
                            <!-- contenido de cada comentario -->
                            <h6 style="color: black;"><img src="../../../assets/images/perfilredondo.png" width="30px" alt="perfil" style="margin-right: 2vh;">Comentado por: <a style="text-decoration: none;font-weight: normal;" [routerLink]="['/perfil',comentario.usuario.nickname]">{{ comentario.usuario.nickname }}</a></h6>
                            <p style="color:rgb(101, 110, 122);font-size: smaller;">Fecha de creación: {{comentario.fecha_creacion | date:'medium'}}

                                <!--MOSTRAR ELIMINAR SI NO ES ADMIN-->
                                <button *ngIf="isLoggedIn() && esMiComentario(comentario) && !esAdmin" class="btn btn-outline-danger btn-sm" style="padding: 2px 5px; font-size: 12px; margin-left: 2vh;" (click)="eliminarComentario(comentario.id)">Eliminar</button>
                                
                                <!--MOSTRAR ELIMINAR SI ES ADMIN-->
                                <button *ngIf="isLoggedIn() && esAdmin" class="btn btn-outline-danger btn-sm" style="padding: 2px 5px; font-size: 12px; margin-left: 2vh;" (click)="eliminarComentario(comentario.id)">Eliminar</button></p>

                            <p style="font-size: smaller;">{{ comentario.comentario }}</p>
                        </li>
                    </ul>
                </div>
                <pagination-controls (pageChange)="page = $event" (pageChange)="cambiarPagina($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

            </div>
            <!-- mostrar un mensaje en caso de que no haya comentarios -->
            <div *ngIf="comentarios && comentarios.length<=0" style="text-align: center;margin-top: 6vh;color: #606161 ;">
                <img src="../../../assets/images/vacio.png" width="120px" alt="vacio" style="margin-bottom: 5vh;">
                <h5>SIN COMENTARIOS...</h5>
                <p style="font-size: smaller;margin-bottom: 4vh;">Esta publicación aun no tiene <br> comentarios disponibles.</p>
                <button class="btn btn-warning btn-sm" (click)="irAComentar()" *ngIf="isLoggedIn()">Haz el primer comentario</button>

            </div>
        </div>