<!-- main.component.html -->
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-9">
            <html>
                <head>
                  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
                </head>
                  <body>
                    <div class="card">

                      <h1>Registrado con éxito</h1> 
                      <p>Ya puedes iniciar sesión con tu nueva cuenta</p>
                      <button  class="btn btn-success btn-md" routerLink="/login" style="margin-top: 4vh;">Inicia sesión</button>
                    </div>
                  </body>
              </html>
        </div>
    </div>
</div>
