a{
    text-decoration: none;
}
a:hover {
    color: rgb(35, 31, 149);
    font-weight: bold;
}
.custom-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .custom-list li {
    margin-bottom: 10px; /* Espacio entre cada elemento de la lista */
  }
  
  .custom-list li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .custom-list li a:hover {
    background-color: #e9ecef; /* Color de fondo cuando se pasa el mouse */
  }

  