<div class="sidebar">
  <h4>Categorías</h4>
  <ul class="list-group">
    <li class="list-group-item"><a href="#">Tecnología</a></li>
    <li class="list-group-item"><a href="#">Deportes</a></li>
    <li class="list-group-item"><a href="#">Entretenimiento</a></li>
    <li class="list-group-item"><a href="#">Política</a></li>
    <li class="list-group-item"><a href="#">Videojuegos</a></li>
    <li class="list-group-item"><a href="#">Música</a></li>
    <li class="list-group-item"><a href="#">Arte</a></li>
  </ul>
</div>