<!-- main.component.html -->
<div class="main" style="color: #343a40;">
  <div class="crear" style="display: flex; justify-content: space-between;">
    <h3>Últimas publicaciones</h3>
    <a routerLink="/crear-publicacion" class="btn btn-info btn-sm">Crear publicación</a>
  </div>
  <div *ngFor="let publicacion of publicaciones" class="card mb-3" style="padding: 5px;margin-top: 18px;">
    <div class="card-body">
      <h4 class="card-title">{{ publicacion.titulo }}</h4>
      <p class="card-text">{{ publicacion.contenido }}</p> <a href="#" class="btn btn-warning btn-sm">Ver
        comentarios</a>
    </div>
  </div>
</div>