* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFFFFF;
  background-image: url(assets/images/bg-svg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media only screen and (max-width: 767px) {
  body {
    background-size: contain; /* Ajusta la imagen para que quepa completamente en la pantalla */
    background-attachment: scroll; /* Permite que el fondo se desplace con el contenido */
  }
}


.sidebar {
  padding: 20px;

}

.main-menu {
  padding: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}